<div class="col-8 mx-auto shadow p-5 my-5">
  <h1 class="text-success text-center p-2">Log In</h1>
  <form #form="ngForm">
    <div>
      <input
        type="text"
        placeholder="Email"
        name="mail"
        [(ngModel)]="email"
        #mail="ngModel"
        class="form-control my-2"
        required
      />
    </div>

    <div style="position: relative">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        name="pword"
        [(ngModel)]="password"
        #pword="ngModel"
        class="form-control my-2"
        required
      />
      <i
        [title]="showPassword ? 'Hide Password' : 'Show Password'"
        class="toggle-icon fas"
        [ngClass]="showPassword ? 'fa-eye text-success' : 'fa-eye-slash'"
        (click)="togglePassword()"
        style="position: absolute; right: 40px; top: 30%; cursor: pointer"
      >
      </i>
      <i
        title="Clear Password"
        class="clear-icon fas fa-times-circle"
        (click)="clearPassword()"
        *ngIf="password && password.length > 0"
        style="position: absolute; right: 10px; top: 30%; cursor: pointer"
      >
      </i>
    </div>

    <div>
      <div>
        <input type="checkbox">
        <span>Remember Me</span>
      </div>

      <div>
        <a>Forgot Password</a>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-success w-100"
      [disabled]="form.invalid"
      style="cursor: pointer"
      (click)="login()"
    >
      Login
    </button>

    <p class="text-center my-1">
      Don&apos;t have an account?
      <a routerLink="/signup" style="cursor: pointer">Sign Up</a>
    </p>
  </form>
</div>
