<p>seeker-dashboard works!</p>

<!-- <div *ngIf="applications.length > 0; else noApps">
    <h2>Your Applications</h2>
    <ul>
      <li *ngFor="let app of applications">
        {{ app.job_title }} - {{ app.status }}
      </li>
    </ul>
  </div>
  
  <ng-template #noApps>
    <p>No job applications found. Start applying now!</p>
  </ng-template> -->
  
  <div class="text-success">Hello, {{this.user.firstname}}</div>

  <button>Ping Me</button>
  <textarea name="" id="" cols="30" rows="10"></textarea>

  <div>
    <button (click)="logOut()">Log Out</button>
  </div>

  
