<div class="container">
  <div class="banner-container">
    <div class="fancy-banner">
      <div class="fancy-banner-text col-lg-6">
        <h2>Get the job of your dreams quickly.</h2>
        <p>
          Commonly used in the graphic, print publishing industries for
          previewing visual mockups. limited social discrimination.
        </p>
        <button>
          Find your job.
          <span class="fw-light text-decoration-underline" routerLink="/jobs">Explore All</span
          ><span class="ms-2">></span>
        </button>
      </div>

      <div class="fancy-banner-img">
        <img src="/assets/img-1.jpg" loading="lazy" />
      </div>
    </div>

    <div
      class="achievements-wrapper d-flex flex-column flex-sm-row justify-content-center align-items-center gap-5 text-center"
    >
      <div class="achievement">
        <h1>7 Million</h1>
        <p>Completed Jobs</p>
      </div>

      <div class="achievement">
        <h1>30k+</h1>
        <p>Worldwide Client</p>
      </div>

      <div class="achievement">
        <h1>13billion</h1>
        <p>Dollar Payout</p>
      </div>
    </div>

    <hr class="hr-line" />
  </div>
</div>
