<div class="col-8 mx-auto shadow p-5 my-5">
  <h1 class="text-success text-center p-2">Sign Up Page</h1>
  <form method="post" #form="ngForm">
    <div>
      <input
        type="text"
        placeholder="First Name"
        name="fname"
        class="form-control my-2"
        [(ngModel)]="firstname"
        #fname="ngModel"
        minlength="3"
        required
        [class.is-valid]="fname.valid && fname.dirty"
        [class.is-invalid]="fname.invalid && fname.dirty"
      />
    </div>

    <div *ngIf="fname.invalid && fname.dirty">
      <span class="text-danger" *ngIf="fname.hasError('minlength')">
        The minimum character length is 3
      </span>
      <span class="text-danger" *ngIf="fname.hasError('required')">
        This field is required
      </span>
    </div>

    <div>
      <input
        type="text"
        placeholder="Last Name"
        name="lname"
        class="form-control my-2"
        [(ngModel)]="lastname"
        #lname="ngModel"
        minlength="3"
        required
        [class.is-valid]="lname.valid && lname.dirty"
        [class.is-invalid]="lname.invalid && lname.dirty"
      />
    </div>

    <div *ngIf="lname.invalid && lname.dirty">
      <span class="text-danger" *ngIf="lname.hasError('minlength')">
        The minimum character length is 3
      </span>
      <span class="text-danger" *ngIf="lname.hasError('required')">
        This field is required
      </span>
    </div>

    <div>
      <input
        type="text"
        placeholder="Email"
        name="mail"
        class="form-control my-2"
        [(ngModel)]="email"
        #mail="ngModel"
        pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
        required
        [class.is-valid]="mail.valid && mail.dirty"
        [class.is-invalid]="mail.invalid && mail.dirty"
      />
    </div>

    <div *ngIf="mail.invalid && mail.dirty">
      <span class="text-danger" *ngIf="mail.hasError('pattern')">
        Please enter a valid email address
      </span>
      <span class="text-danger" *ngIf="mail.hasError('required')">
        This field is required
      </span>
    </div>

    <div style="position: relative">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        name="pword"
        class="form-control my-2"
        [(ngModel)]="password"
        minlength="6"
        #pword="ngModel"
        required
        [class.is-valid]="pword.valid && (pword.dirty || pword.touched)"
        [class.is-invalid]="pword.invalid && (pword.dirty || pword.touched)"
      />
      <i
        [title]="showPassword ? 'Hide Password' : 'Show Password'"
        class="toggle-icon fas"
        [ngClass]="showPassword ? 'fa-eye text-success' : 'fa-eye-slash'"
        (click)="togglePassword()"
        style="position: absolute; right: 40px; top: 30%; cursor: pointer"
      >
      </i>
    </div>
    
    <div *ngIf="pword.invalid && (pword.dirty || pword.touched)">
      <span class="text-danger" *ngIf="pword.hasError('required')">
        Password is required
      </span>
      <span class="text-danger" *ngIf="pword.hasError('minlength')">
        Password must be at least six characters
      </span>
    </div>

    <div *ngIf="password && password.length > 0">
      <p class="text-danger" *ngIf="password && password.length < 5">
        Password is weak
      </p>
      
      <p class="text-warning" *ngIf="password && password.length >= 5 && password.length < 8">
        Password is medium
      </p>
    
      <p class="text-success" *ngIf="password && password.length >= 8">
        Password is strong
      </p>
    </div>
    
    

    <label for="jobrole">Choose a role:</label>
    <select
      name="jobrole"
      id="jobrole"
      [(ngModel)]="role"
      #jobrole="ngModel"
      required
      [class.is-valid]="jobrole.valid && jobrole.touched"
      [class.is-invalid]="jobrole.invalid && jobrole.touched"
    >
      <option value="" disabled selected>Select a Role</option>
      <option value="job_seeker">Job Seeker</option>
      <option value="employer">Employer</option>
    </select>

    <div *ngIf="jobrole.invalid && jobrole.touched">
      <span class="text-danger" *ngIf="jobrole.hasError('required')">
        This field is required
      </span>
    </div>

    <div style="position: relative;">
      <input
      type="submit"
      name="submit"
      (click)="signup(form)"
      [disabled]="form.invalid || loading"
      [value]="loading ? 'Signing Up...' : 'Sign Up'"
      class="btn btn-success w-100"
    />
    <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" style="position: absolute; left: 8.5rem; top: 50%; transform: translateY(-50%);"></div>
    </div>

    <p class="text-center my-1">Already have an account? <a routerLink="/login" style="cursor: pointer;">Login</a></p>
  </form>
</div>
