<div class="testimonials">
  <div class="testimonials-header">
    <h1 class="header">Trusted by leading startups.</h1>

    <!-- DESKTOP NAV BUTTONS (768px and up) -->
    <div class="swiper-nav-buttons desktop-nav">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <!-- SWIPER CONTAINER -->
  <swiper-container
    #swiperEl
    class="mySwiper"
    pagination="false"
    autoplay='{"delay": 2000, "disableOnInteraction": true}'
    breakpoints='{
      "0": { "slidesPerView": 1 },
      "768": { "slidesPerView": 2, "spaceBetween": 20 },
      "992": { "slidesPerView": 3, "spaceBetween": 40 }
    }'
  >
    <swiper-slide *ngFor="let item of testimonials">
      <div class="testimonial-slide">
        <div class="carousel-content">
          <img src="{{ item.logo }}" alt="Logo" class="logo" />
          <blockquote class="testimonial-quote">"{{ item.quote }}"</blockquote>
          <p class="testifier-name">
            <span>{{ item.name }}</span
            >, {{ item.role }}
          </p>
          <hr class="rating-divider" />
          <div class="rating">
            <div class="rating-review">
              <p>{{ item.rating }}</p>
              <p>{{ item.review }}</p>
            </div>
            <ul class="rating-count">
              <li *ngFor="let star of getStars(item.rating)">
                <fa-icon
                  [icon]="
                    star === 'full'
                      ? faStarFull
                      : star === 'half'
                      ? faStarHalf
                      : faStarEmpty
                  "
                ></fa-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- MOBILE NAV BUTTONS (below swiper on small screens) -->
  <div class="swiper-nav-buttons mobile-nav">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
