/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

html {
  scroll-behavior: smooth;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb {
  background-color: #d2f34c;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0e637;
}

/* Hide scrollbar arrow buttons */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Firefox support */
* {
  font-family: "Gordita-Regular", cursive;
  scrollbar-width: thin;
  scrollbar-color: #d2f34c #ffff;
}

/* Initials Avatar Placeholder */
.avatar-placeholder {
  width: 100%;
  height: 100%;
  background-color: #eef2ff; /* Light Indigo */
  color: #4f46e5; /* Indigo Text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 50%;
  text-transform: uppercase;
  border: 1px solid #c7d2fe;
}

/* Specific sizes if needed */
.avatar-sm {
  width: 32px;
  height: 32px;
  font-size: 0.8rem;
}
.avatar-md {
  width: 48px;
  height: 48px;
  font-size: 1rem;
}
.avatar-lg {
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
}
