<app-navbar></app-navbar>
<div class="home">
  <app-hero></app-hero>
  <section class="body">
    <app-category-list></app-category-list>
    <app-fancybanner></app-fancybanner>
    <app-job-card></app-job-card>
    <app-testimonials></app-testimonials>
    <app-findtalents></app-findtalents>
    <app-q-a></app-q-a>
    <app-cta></app-cta>
  </section>
  <app-footer></app-footer>
</div>

<!-- CSS utility class buttons -->
<!-- <button class="btn btn-primary">Click</button>
<button class="btn btn-secondary">Cancel</button> -->

<!-- ReUsable Button Components 👇 -->
<!-- <app-button variant="primary">Submit</app-button>
<app-button variant="secondary" [disabled]="true">Cancel</app-button> -->
