<div class="error-page-container">
  <div class="container-fluid">
    <div class="row min-vh-100 align-items-center">
      <div class="col-12 text-center">
        <img src="/assets/errorImg.png" alt="404 Illustration" loading="lazy" class="img-fluid mb-4" [class.animated]="isAnimated">

        <div class="error-content" [class.animated]="isAnimated">
          <div class="error-code">{{ errorCode }}</div>
          <h1 class="error-title">{{ errorTitle }}</h1>
          <p class="error-message">{{ errorMessage }}</p>

          <button 
            type="button" 
            class="btn btn-go-back"
            (click)="goBack()">
            GO BACK <i class="fas fa-arrow-right ms-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>